<!--For use via Connect IQ-->
<settings>
    <setting propertyKey="@Properties.GapSize" title="@Strings.GapSizeTitle">
        <settingConfig type="numeric" />
    </setting>
    <setting propertyKey="@Properties.ShowHexValue" title="@Strings.ShowHexValueTitle">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.StartColor" title="@Strings.StartColorTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.MidColor" title="@Strings.MidColorTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.EndColor" title="@Strings.EndColorTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>